<div class="search-detail">
    <div class="head">
        <img src="../img/logo.png" alt="logo" class="logo">
        <form ng-submit="search()" class="search-form clearfix">
            <input type="text" ng-model="searchDetail.keywords" class="search-input fl">
            <input type="submit" value="搜索" class="search-submit fl">
        </form>
        <span ng-click="login()" class="link login fr" ng-bind="user.name || user.username || '登录'"></span>
    </div>
    <div class="main">
        <div class="main-left">
            <span class="search-count">为您找到相关结果0个</span>
            <div class="search-details">
                <ul class="list">
                    <li class="item">
                        <a href="#" class="title">js刷新页面location.reload()用法_js刷新页面 - 脚本学堂</a>
                        <div class="sub-title">
                            <span class="time">2014年3月17日</span>
                            <i class="fa fa-tags" aria-hidden="true"></i>
                            <span class="tag">abc</span>
                            <span class="tag">cocos</span>
                        </div>
                        <p class="article">
                            这篇文章主要介绍了AngularJS实现元素显示和隐藏的几个案例,需要的朋友可以参考下案例一:控制html元素显示和隐藏有n种方法:html的hidden、css的displa...
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
