<div class="search-detail">
    <div class="head">
        <img src="../img/logo.png" alt="logo" class="logo">
        <form ng-submit="search()" class="search-form clearfix">
            <input type="text" ng-model="searchDetail.keywords" class="search-input fl">
            <input type="submit" value="搜索" class="search-submit fl">
        </form>
        <span ng-click="login()" class="link login fr" ng-bind="user.name || user.username || '登录'"></span>
    </div>
    <div class="main">
        <div class="main-left">
            <span class="search-count">为您找到相关结果{{posts && posts.length || 0}}个</span>
            <div class="search-details">
                <ul class="list">
                    <li class="item" ng-repeat="post in posts">
                        <a ui-sref="postsShow({id: post._id})" class="title" ng-bind-html="post.title|keywords:searchDetail.keywords"></a>
                        <div class="sub-title">
                            <span class="time" ng-bind-html="post.updatedAt|date:'yyyy-MM-dd'|keywords:searchDetail.keywords"></span>
                            <div class="subject">
                                <i class="fa fa-cubes subject-color" aria-hidden="true"></i>
                                <span ng-bind-html="post.category|keywords:searchDetail.keywords"></span>
                            </div>
                            <i class="fa fa-tags" aria-hidden="true"></i>
                            <span class="tag" ng-repeat="tag in post.tags" ng-bind-html="tag|keywords:searchDetail.keywords"></span>
                        </div>
                        <p class="article" ng-bind-html="post.markdown|markdownLimitLength|keywords:searchDetail.keywords"></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
