@import "base/mixin";
@import "base/common";



.link{
  display: inline-block;
  cursor: pointer;
  &:hover{
    color: #454;
  }
}

.footer{
  visibility: hidden;
  text-align: center;
  font-size: 12px;
  color: gray;
}
.show-footer{
  visibility: visible;
}
