.posts-show{
  background: #F0F0F0;
  .main-body{
    margin: 0 auto;
    max-width: 730px;
    padding: 0 15px;
    background: darkgoldenrod;
    box-shadow: 0 0 1px #ff79c6;

    .old-link{
      color: wheat;
    }

    .post-title{
      padding: 10px 0;
      text-align: center;
    }
    .post-content{
      padding-bottom: 20px;

      pre{
        margin-bottom: 5px;
      }
    }
  }
}