* {
  margin: 0;
  padding: 0;
  @include border-box;
}
html{
  font-family: "Helvetica Neue", "Helvetica","Arial","sans-serif";
}

a{
  text-decoration: none;
}
input{
  &:focus{
    outline: 1px solid #4791ff;
  }
}

.fl{
  float: left;
}
.fr{
  float: right;
}
.clearfix {
  *zoom: 1;
  &:before, &:after{
    display: table;
    line-height: 0;
    content: "";
  }
  &:after{
    clear: both;
  }
}
